/* ======================================== */
/*                  NavBar                  */
/* ======================================== */

/* Ajustes de los elementos de la navegación */
.navbar .navbar-nav {
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  white-space: nowrap;
}

.logo {
  max-width: 60px;
}

.container-small {
  max-width: 600px;
}

.container-large {
  max-width: 1000px;
}

.container-xl {
  max-width: 1300px;
}
